.list-group {
  background-color: white;
  width: 300px;
  height: 80px;
  list-style: none;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, .125); 
}

.list-group li {
  position: relative;
  font-weight: 600;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
} 

